* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: #674bb1;
}

body {
  font-family: "Open Sans", sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  height: 50px;
}

.page-container {
  min-width: 375px;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  height: 100px;
  display: flex;
  align-items: stretch;
}
header figure {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 20px;
}
header figure img {
  height: 30px;
}

main {
  display: flex;
  flex-direction: column;
}
main .main__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main__image figure {
  margin-top: 25px;
  width: 80%;
}
main .main__image figure img {
  width: 100%;
  height: auto;
}
main .main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 10% 10%;
  color: #faf7fc;
}
main .main__text h2 {
  font-size: 1.9rem;
  margin: 0 4%;
  text-align: center;
  line-height: 2.7rem;
  font-weight: 700;
}
main .main__text p {
  margin-top: 15px;
  font-size: 1.6rem;
  text-align: center;
}
main .main__text button {
  cursor: pointer;
  background-color: #faf7fc;
  color: #674bb1;
  border: none;
  height: 40px;
  margin: 25px 17%;
  border-radius: 100px;
  box-shadow: 2px 2px 8px 0px black;
}

footer {
  display: flex;
  flex-direction: column;
}
footer ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}
footer ul li {
  margin: 0 10px 0;
  padding: 5px;
  border: 1px solid #faf7fc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul li img {
  height: 14px;
}

.fm-footer p {
  text-align: center;
  color: #faf7fc;
}
.fm-footer p a {
  text-decoration: none;
}

@media screen and (min-width: 1023px) {
  .page-container {
    background-image: url("../images/bg-desktop.svg");
    background-size: auto 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 6fr 5fr;
    grid-template-rows: 15% 75% 10%;
  }

  header {
    margin-top: 1%;
    grid-area: 1/1/2/2;
  }

  main {
    margin-top: 100px;
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: row;
  }
  main .main__image {
    width: 50%;
    margin-left: 5%;
  }
  main .main__image figure {
    width: 90%;
  }
  main .main__text {
    width: 40%;
    margin: 0;
  }
  main .main__text h2 {
    text-align: start;
  }
  main .main__text p {
    text-align: start;
  }
  main .main__text button {
    margin: 20px 0;
    width: 40%;
    height: 30px;
  }

  footer {
    grid-area: 3/2/4/3;
  }
  footer ul {
    margin-bottom: 0;
  }

  .fm-footer {
    margin-top: -15px;
  }
}