* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: #674bb1;
}

body {
  font-family: "Open Sans", sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  height: 50px;
}

.page-container {
  min-width: 375px;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  height: 100px;
  display: flex;
  align-items: stretch;
}
header figure {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 20px;
}
header figure img {
  height: 30px;
}

main {
  display: flex;
  flex-direction: column;
}
main .main__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main__image figure {
  margin-top: 25px;
  width: 80%;
}
main .main__image figure img {
  width: 100%;
  height: auto;
}
main .main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 10% 10%;
  color: #faf7fc;
}
main .main__text h2 {
  font-size: 1.9rem;
  margin: 0 4%;
  text-align: center;
  line-height: 2.7rem;
  font-weight: 700;
}
main .main__text p {
  margin-top: 15px;
  font-size: 1.6rem;
  text-align: center;
}
main .main__text button {
  cursor: pointer;
  background-color: #faf7fc;
  color: #674bb1;
  border: none;
  height: 40px;
  margin: 25px 17%;
  border-radius: 100px;
  box-shadow: 2px 2px 8px 0px black;
}
main .main__text button:hover {
  background-color: rgba(250, 247, 252, 0.6);
}
main .main__text button:focus {
  outline: 1px solid #faf7fc;
}

footer {
  display: flex;
  flex-direction: column;
}
footer ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}
footer ul li {
  margin: 0 10px 0;
  padding: 5px;
  border: 1px solid #faf7fc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer ul li:hover {
  border: 2px solid rgba(250, 247, 252, 0.3);
}
footer ul li > * {
  cursor: pointer;
}
footer ul li button {
  background-color: #ffffff00;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul li button:focus {
  outline: 2px solid #faf7fc;
}
footer ul li button img {
  height: 18px;
}

.fm-footer p {
  text-align: center;
  color: #faf7fc;
}
.fm-footer p a {
  text-decoration: none;
}