@import './_var'
*
	margin: 0
	box-sizing: border-box

html
	font-size: 62.5%
	font-family: 'Poppins', sans-serif
	background-color: $purple

body
	font-family: 'Open Sans', sans-serif

figure
	margin: 0
	padding: 0
img
	height: 50px

.page-container
	min-width: 375px
	background-image: url('../images/bg-mobile.svg')
	background-repeat: no-repeat
	background-size: 100%

header
	height: 100px
	display: flex
	align-items: stretch
	figure
		display: flex
		align-items: center
		margin-bottom: 10px
		margin-left: 20px
		img
			height: 30px

main
	display: flex
	flex-direction: column
	.main__image
		display: flex
		align-items: center
		justify-content: center
		figure
			margin-top: 25px
			width: 80%
			img
				width: 100%
				height: auto
	.main__text
		display: flex
		flex-direction: column
		justify-content: center
		margin: 50px 10% 10%
		color: #faf7fc
		h2
			font-size: 1.9rem
			margin: 0 4%
			text-align: center
			line-height: 2.7rem
			font-weight: 700
		p
			margin-top: 15px
			font-size: 1.6rem
			text-align: center
		button
			cursor: pointer
			background-color: $white
			color: $purple
			border: none
			height: 40px
			margin: 25px 17%
			border-radius: 100px
			box-shadow: 2px 2px 8px 0px black
			&:hover
				background-color: transparentize($white, .4)
			&:focus
				outline: 1px solid $white

footer
	display: flex
	flex-direction: column
	ul
		list-style: none
		padding-left: 0
		display: flex
		flex-direction: row
		justify-content: center
		margin-bottom: 40px
		li
			margin: 0 10px 0
			padding: 5px
			border: 1px solid $white
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
			&:hover
				border: 2px solid transparentize($white, .7)
			& > *
				cursor: pointer
			button
				background-color: #ffffff00
				border: none
				display: flex
				align-items: center
				justify-content: center
				&:focus
					outline: 2px solid $white
				img
					height: 18px

.fm-footer
	p
		text-align: center
		color: $white
		a
			text-decoration: none
